<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">


    <title>PizzaHub Blog</title>
</head>
<body>
    <!-- <img src="ph.png"> -->
    <header class="container center-align">
        <h1>PizzaHub Blog</h1>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


    <br>

    <a style="display: block" class="center-align" href="/admin">Admin login</a>

    

</body>
</html>