.name-heading {
    font-size: 48px;
    float: left;
}

.name-row {
    background-color: skyblue;
    opacity: 1;/*Might change later*/
}

.sub-heading {
    font-size: 24px;
}

.btn-style {
    margin-top: 15px;
    font-size: 26px;
}
