@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


body
{
    font-family: 'Maven Pro', sans-serif;
}

.s-wrap
{
    position: fixed;
    top: 8.3%;
    
    height: auto;
    width: 100%;
    
}

.s-summary
{
    border-bottom: 2px solid;
    
    height: 100px;
    width: 100%;
    
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 5%;
    text-align: center;
}

    #summary-text
    {
        font-size: 130%;
        position: relative;
        top: 40%;
    }



.s-store-list
{
    border-bottom: 2px solid;
    
    height: 150px;
    width: 80%;
    
    background-color: white;
    border-color: papayawhip;
    border-radius: 5%;
    
    
}
    #store-name
    {
        font-size: 200%;
        font-weight: bolder;
        position: relative;
        left: 4%;
        top: 20%;
    }

    #store-address
    {
        font-size: 140%;
        position: relative;
        left: -5.4%;
        top: 40%;
    }

    #store-rating
    {
        font-size: 140%;
        background-color: #94CB50;
        border-radius: 10%;
        
        position: relative;
        top: 20%;
        right: -20%;
    }