body 
{
    background-color: white;
    font-family: 'Cute Font', cursive;
}

.store-name-row {
    background-color: skyblue;
    opacity: 1;/*Might change letter*/
}


.store-heading {
    font-size: 48px;
    float: left;
}

.rating {
    font-size: 32px;
}

.panel-heading {
    font-size: 32px;
}

.sub-item {
    font-size: 28px;
    /*padding-right: 40px;*/
}

.add-button {
    margin: 15px;
    font-size: 22px;
}

.row li {
    font-size: 32px;
}

hr {
    background-color: rgb(26, 188, 156);
}

select {
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
}

.check-out {
    margin: 15px;
}


.test1 {
	border-color: yellow;
	border-width: 5px;
	border-style: solid;
}

.test2 {
	border-color: red;
	border-width: 5px;
	border-style: solid;
}
