@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);


.field {
  display:flex;
  position:realtive;
  margin:auto;
  width:50%;
  height: auto;
  flex-direction:row; 
  float: right;
  margin-right: .2%;

  
  
/*
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
*/
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}

.img-adjust {
	position: relative;
	width: 380px;
	float: left;
	/*bottom:30px;*/
	
}

#search-bar {
	display:flex;
  position:realtive;
  margin:auto;
  width:100%;
  /*height: 50%;*/
  flex-direction:row; 
  float: right;
  /*margin-right: .2%;*/
}

#search-bar>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
  font: 28px 'Montserrat Alternates';
}

#search-bar>button {
  display:block;
  font: 28px 'Montserrat Alternates';
}

#search-bar>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none; 
}

.black-color {
	background-color: black;
}

.sky-blue-color {
	background-color: skyblue;
}

.green-color {
	background-color: rgb(26, 188, 156);
}
/*
#navbar {
	height: 150px;
}

#search-btn {
	
}*/

.test-outline {
	border-color:yellow;
	border-width: 5px;
	border-style: solid;
}























